a {
    color: #222
}
a:hover {
   color: #666
}
.texto{
    font-weight: 400;
    font-size: 14pt;
    color: #555;
    line-height: 30px;
}
.capaMedia {
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.capaGrande {
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
.classePequena {
    width: 80px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}